# SMTP Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_TLS=false
MAIL_USE_SSL=true
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com

# App Configuration
APP_NAME=FamilyTrees Ops Server
BASE_URL=http://localhost:8501
SECRET_KEY=your-secret-key

# Database Configuration
DB_NAME=your_database_name
TBL_USR=your_user_table_name
TBL_ARTICLE=your_article_table_name

# Logging
LOGGING=INFO
