{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>

<h2 class="article-note">{{ abs_header }}</h2>
<p>{{ abs }}</p>

<h2 class="article-note">{{ usage_header }}</h2>
<p>{{ usage }}</p>

<article class="media content-section">
  <div class="media-body">
    <h3>
      <a
        class="article-title"
        href="https://crappie-on-kingfish.ngrok-free.app"
      >
        {{ signup_q }}
      </a>
    </h3>
    <p class="article-content">
      {{ signup }}
      <img
        src="{{ url_for('static', 
          filename='ScreenShot_signup.png')}}"
        width="600"
        height="420"
      />
    </p>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <h3>
      <a
        class="article-title"
        href="https://crappie-on-kingfish.ngrok-free.app"
      >
        {{ login_q }}
      </a>
    </h3>
    <p class="article-content">
      {{ login }}
      <img
        src="{{ url_for('static', 
          filename='ScreenShot_login.png')}}"
        width="600"
        height="420"
      />
    </p>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <h3>
      <a
        class="article-title"
        href="https://crappie-on-kingfish.ngrok-free.app"
      >
        {{ resetpw_q }}
      </a>
    </h3>
    <p class="article-content">
      {{ resetpw }}
      <img
        src="{{ url_for('static', 
          filename='ScreenShot_resetPW.png')}}"
        width="600"
        height="420"
      />
    </p>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <h3>
      <a
        class="article-title"
        href="https://crappie-on-kingfish.ngrok-free.app"
      >
        {{ settings_q }}
      </a>
    </h3>
    <p class="article-content">
      {{ settings }}
      <img
        src="{{ url_for('static', 
          filename='ScreenShot_settings.png')}}"
        width="600"
        height="200"
      />
    </p>
  </div>
</article>

<h2 class="article-note">{{ fb_header }}</h2>

<p>{{ fb }}</p>

<ol>
  <li class="article-note">{{ fb_safety }}</li>

  <p>{{ safety }}</p>

  <li class="article-note">{{ fb_backup }}</li>

  <p>{{ backup }}</p>

  <li class="article-note">{{ fb_sharing}}</li>

  <p>{{ sharing }}</p>

  <li class="article-note">{{ fb_mls }}</li>

  <p>{{ mls }}</p>
</ol>

{% endblock content %}
