{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>

<!-- about -->

<!-- introduction -->
<h2 class="article-note">{{ abs_header }}</h2>
<p>{{ abs1 }}</p><br>
<p>{{ abs2 }}</p><br>
<p>{{ abs3 }}</p><br>
<p>{{ abs4 }}</p>

<!-- source codeis in GitHub -->
<h2 class="article-note">{{ git_repo }}</h2>
<p><a href="{{ git_ftpe }}" target="_blank" rel="noopener noreferrer">{{ git_ftpe }}</a></p>
<p><a href="{{ git_subs }}" target="_blank" rel="noopener noreferrer">{{ git_subs }}</a></p>

{% endblock content %}
