{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>

<!-- ops server down -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ authors[0] }}"
  />
  <div class="media-body">
    <h3 class="article-title">{{ faq_ops_down_q }}</h3>
    <p class="article-content">{{ answers[0]|safe }}</p>
    <img 
      src="{{ images[0] }}" 
      alt="Ops Server Down Screenshot"
      style="max-width: 100%; height: auto; margin: 10px 0;"
    >
      </div>
</article>

<!-- download my family data -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ authors[1] }}"
  />
  <div class="media-body">
    <h3 class="article-title">{{ faq_download_q }}</h3>
    <p class="article-content">{{ answers[1]|safe }}</p>    
    <img 
    src="{{ images[1] }}" 
    alt="Settings Screenshot"
    style="max-width: 100%; height: auto; margin: 10px 0;"
  >
  </div>
</article>

<!-- how to charge -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ authors[2] }}"
  />
  <div class="media-body">
    <h3 class="article-title">{{ faq_charge_q }}</h3>
    <p class="article-content">{{ answers[2]|safe }}</p>
  </div>
</article>

<!-- how to donate -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ authors[3] }}"
  />
  <div class="media-body">
    <h3 class="article-title">{{ faq_donate_q }}</h3>
    <p class="article-content">{{ answers[3]|safe }}</p>
  </div>
</article>

<!-- who created this app -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ authors[4] }}"
  />
  <div class="media-body">
    <h3 class="article-title">{{ faq_creator_q }}</h3>
    <p class="article-content">{{ answers[4]|safe }}</p>
  </div>
</article>
{% endblock content %}
