{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>

<!-- ops server down -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', filename='ScreenShot_ops_down.png') }}"
  />
  <div class="media-body">
    <h3>
      <a class="article-title" href="https://github.com/mkaoy2k/ftpe"
        >{{ faq_ops_down_q }}</a>
    </h3>
    <p class="article-content">
    {{ faq_ops_down }}
    <br>
    <img 
      src="{{ url_for('static', filename='ScreenShot_ops_down.png') }}" 
      alt="Ops Server Down Screenshot"
      style="max-width: 100%; height: auto; margin: 10px 0;"
    >
    </p>
  </div>
</article>

<!-- download my family data -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', filename='ScreenShot_Settings.png') }}"
  />
  <div class="media-body">
    <h3>
      <a class="article-title" href="https://github.com/mkaoy2k/ftpe"
        >{{ faq_download_q }}</a>
    </h3>
    <p class="article-content">
    {{ faq_download }}
    <br>
    <img 
      src="{{ url_for('static', filename='ScreenShot_Settings.png') }}" 
      alt="Settings Screenshot"
      style="max-width: 100%; height: auto; margin: 10px 0;"
    >
    </p>

    <p class="article-note">
      <a href="{{ ft_url }}" target="_blank" rel="noopener noreferrer">{{ faq_try_demo }}</a>
    </p>
  </div>
</article>

<!-- how to charge -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', 
            filename='ScreenShot_charge.png')}}"
  />
  <div class="media-body">
    <h3>
      <a class="article-title" href="https://www.buymeacoffee.com/jkbwvj5y4zl"
        >{{ faq_charge_q }}</a>
    </h3>
    <p class="article-content" 
    >{{ faq_charge }}</p>
  </div>
</article>

<!-- how to donate -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', 
      filename='ScreenShot_donate.png')}}"
  />
  <div class="media-body">
    <h3>
      <a class="article-title" href="https://www.buymeacoffee.com/jkbwvj5y4zl"
        >{{ faq_donate_q }}</a>
    </h3>
    <p class="article-content" 
    >{{ faq_donate }}</p>
  </div>
</article>

<!-- who created this app -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static', 
      filename='mkao2019.jpeg')}}"
  />
  <div class="media-body">
    <h3>
      <a class="article-title" href="mailto:mkaoy2k@gmail.com"
        >{{ faq_creator_q }}</a>
    </h3>
    <p class="article-content" 
    >{{ faq_creator }}</p>
  </div>
</article>
{% endblock content %}
