{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>
<h3 id="currentDate" style="text-align: right; font-size: 0.9em; font-style: italic; color: #666; margin-top: -1em; margin-bottom: 1.5em;"></h3>
<script>
    // 創建日期物件
    const today = new Date();
    // 格式化日期（年、月、日）
    const year = today.getFullYear();
    const month = today.getMonth() + 1; // getMonth() 返回 0-11，所以要加1
    const day = today.getDate();
    
    // 將日期轉換為繁體中文格式
    const chineseDate = `${year}-${month}-${day}`;
    // 將日期顯示在 HTML 中
    document.getElementById('currentDate').textContent = chineseDate;
</script>
    <div class="text-center mb-3">
        <a href="{{ ft_url }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"
        >{{ h2 }}</a>
    </div>

    <!-- News -->
    <h2>{{ t1 }}</h2>
    <p>
        {{ t1_news }}
    </p>

    <!-- Motto -->
    <h2>{{ t2 }}</h2>
    <p>
        {{ t2_motto }}
    </p>

    <!-- Python eBook -->
    <h2>{{ t3 }}</h2>
    <p>{{ t3_user }}</p>
    <p><a href="https://github.com/mkaoy2k/Kids-Lets-Play-Python" target="_blank" rel="noopener noreferrer"
        >{{ t3_download }}
    </a></p>

    <p><img 
        src="{{ url_for('static', filename='QRCode_python_ebook.png') }}" 
        alt="Python eBook QR Code"
        style="max-width: 100%; height: auto; margin: 10px 0;">
    </p>

<div class="footer">
<p>{{ t4_greeting }},<br>
    {{ t4_team }}
</p>
</div>
{% endblock %}
