{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>
<h3 id="currentDate" style="text-align: right; font-size: 0.9em; font-style: italic; color: #666; margin-top: -1em; margin-bottom: 1.5em;"></h3>
<script>
    // 創建日期物件
    const today = new Date();
    // 格式化日期（年、月、日）
    const year = today.getFullYear();
    const month = today.getMonth() + 1; // getMonth() 返回 0-11，所以要加1
    const day = today.getDate();
    
    // 將日期轉換為繁體中文格式
    const chineseDate = `${year}-${month}-${day}`;
    // 將日期顯示在 HTML 中
    document.getElementById('currentDate').textContent = chineseDate;
</script>

<!-- News -->
<h2 style="color: red;">{{ t1 }}</h2>
{% for article in t1_articles %}
    <h4 style="color: blue;">{{ article['title'] }}</h4>
    <div class="content-block">
        <p>{{ article['content']|safe }}</p>
        {% if article['image_url'] %}
        <p>
            <img src="{{ article['image_url'] }}" alt="{{ article['image_alt'] }}" style="max-width: 100%; height: auto; margin: 10px 0;">
        </p>
        {% endif %}
        {% if article['author'] %}
        <p>{{ author_label }} {{ article['author'] }}</p>
        {% endif %}
        {% if article['src_url'] %}
        <p>{{ source_label }} <a href="{{ article['src_url'] }}" target="_blank">{{ article['source'] }}</a></p>
        {% endif %}
    </div>
    <br>
{% endfor %}

<!-- Motto -->
<h2 style="color: red;">{{ t2 }}</h2>
<h4 style="color: blue;">{{ t2_title }}</h4>
<div class="content-block">
    <p>{{ t2_content|safe }}</p>
{% if t2_image %}
    <p>
        <img src="{{ t2_image }}" alt="{{ t2_image_alt }}" style="max-width: 100%; height: auto; margin: 10px 0;">
    </p>
{% endif %}
{% if t2_author %}
    <p>{{ author_label }} {{ t2_author }}</p>
{% endif %}
{% if t2_src_url %}
    <p>{{ source_label }} <a href="{{ t2_src_url }}" target="_blank">{{ t2_source }}</a></p>
{% endif %}
</div>
<br>

<!-- Bargain -->
<h2 style="color: red;">{{ t3 }}</h2>
{% for article in t3_article %}
    <h4 style="color: blue;">{{ article['title'] }}</h4>
    <div class="content-block">
        <p>{{ article['content']|safe }}</p>
        {% if article['image_url'] %}
        <p>
            <img src="{{ article['image_url'] }}" alt="{{ article['image_alt'] }}" style="max-width: 100%; height: auto; margin: 10px 0;">
        </p>
        {% endif %}
        {% if article['author'] %}
        <p>{{ author_label }} {{ article['author'] }}</p>
        {% endif %}
        {% if article['src_url'] %}
        <p>{{ source_label }} <a href="{{ article['src_url'] }}" target="_blank">{{ article['source'] }}</a></p>
        {% endif %}
    </div>
    <br>
{% endfor %}

<div class="footer">
    <p>{{ t4_greeting }},<br>
    {{ t4_team }}
    </p>
</div>
{% endblock %}
