{% extends "layout.html" %} {% block content %}
<h1 class="mb-3">{{ header }}</h1>
<h3 id="currentDate" style="text-align: right; font-size: 0.9em; font-style: italic; color: #666; margin-top: -1em; margin-bottom: 1.5em;"></h3>
<script>
    // 創建日期物件
    const today = new Date();
    // 格式化日期（年、月、日）
    const year = today.getFullYear();
    const month = today.getMonth() + 1; // getMonth() 返回 0-11，所以要加1
    const day = today.getDate();
    
    // 將日期轉換為繁體中文格式
    const chineseDate = `${year}-${month}-${day}`;
    // 將日期顯示在 HTML 中
    document.getElementById('currentDate').textContent = chineseDate;
    </script>
   
    <!-- Include contents in a 2x1 table -->
    <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <tr>
            <td style="padding: 10px 0; vertical-align: top;">
                <h2>{{ t1 }}</h2>
                <p>
                    {{ t1_joke }}
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 0; vertical-align: top;">
                <h2>{{ t2 }}</h2>
                <p>
                    {{ t2_motto }}
                </p>
            </td>
        </tr>
    </table>

<h2>{{ t3 }}</h2>
<p>{{ t3_user }}</p>
<p><a href="https://github.com/mkaoy2k/Kids-Lets-Play-Python/blob/main/2.0%20小朋友玩大蟒蛇.pdf">{{ t3_download }}</a></p>

<p><img src="https://github.com/mkaoy2k/Kids-Lets-Play-Python/blob/main/QRCode.png?raw=true" alt="e-book download" width="400" height="400">
</p>
{% endblock %}
