<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>FamilyTrees - {{ title }}</title>
    {% else %}
        <title>FamilyTrees</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">{{ menu[0] }}</a>
                <a class="nav-item nav-link" href="{{ url_for('faq') }}">{{ menu[1] }}</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">{{ menu[2] }}</a>
                <a class="nav-item nav-link" href="https://bold-squirrel-vertically.ngrok-free.app/db-query">{{ menu[3] }}</a>
                <a class="nav-item nav-link" href="https://bold-squirrel-vertically.ngrok-free.app/db-update">{{ menu[4] }}</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
  
    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <!-- Settings from here -->
              <h3> {{ settings }}</h3>
              <div class="mb-4">
                <h5> {{ your_language }}</h5>
                  <ul class="list-group">
                    {% for option in options %}
                      <li class="list-group-item list-group-item-light">
                      <a href="{{ url_for('set_l10n', lang=option, page=title) }}">{{ option }}</a></li>
                    {% endfor %}
                  </ul>
                <div class="mt-4">
                  <h5> {{ email_subscription }}</h5>
                  <form action="{{ url_for('subscribe') }}" method="post">
                    <div class="form-group mb-2">
                      <input type="email" name="email" class="form-control mb-2" placeholder="Enter your email" required>
                      <div class="d-flex">
                        <button type="submit" name="action" value={{ subscribe }} class="btn btn-primary mr-2">{{ subscribe }}</button>
                        <button type="submit" name="action" value={{ unsubscribe }} class="btn btn-outline-secondary">{{ unsubscribe }}</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
