<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- FamilyTreesOps 1.0 NOTE: version noted below-->
    {% if title %}
        <title>FamilyTreesOps 1.0 - {{ title }}</title>
    {% else %}
        <title>FamilyTreesOps 1.0</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <!-- Navigation from here -->
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                {% for item in menu %}
                    <a class="nav-item nav-link" href="{{ url_for(item[0]) }}">{{ item[1] }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </nav>
      </header>
  
    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div>
          <!-- Right Column from here -->
          <div class="col-md-4">
            <!-- Settings from here -->
            <div class="content-section">
              <h3> {{ settings }}</h3>
                <div class="mb-4">
                <!-- Language from here -->
                <h5> {{ your_language }}</h5>
                <select class="form-select" onchange="window.location.href=this.value" style="max-width: 100%; min-width: 200px;">
                  {% for lang in options %}
                  <option value="{{ url_for('set_l10n', lang=lang, page=title) }}" 
                          {% if lang == current_lang %}selected{% endif %}>
                      {{ settings[lang] if settings[lang] else lang }}
                  </option>
                  {% endfor %}
                </select> 
                </div>
                <!-- Email Subscription from here -->
                <div class="mt-4">
                  <h5> {{ email_subscription }}</h5>
                  <form action="{{ url_for('subscribe') }}" method="post">
                    <div class="form-group mb-2">
                      <input type="email" name="email" class="form-control mb-2" placeholder="Enter your email" required>
                      <div class="d-flex">
                        <button type="submit" name="action" value="subscribe" class="btn btn-primary mr-2">{{ subscribe }}</button>
                        <button type="submit" name="action" value="unsubscribe" class="btn btn-outline-secondary">{{ unsubscribe }}</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div> 
            <!-- Motto from here -->
            <div class="text-center mb-3">
                <a href="{{ ft_url }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                >{{ motto_btn }}</a>
                <div class="content-block">
                    {{ motto|safe }}
                </div>
            </div> 
          </div>
        </div>
      </div>
    </main>
    <!-- Required JavaScript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
